.section-defects-create{
  font-size: 1.6rem;
  background-color: var(--Grey-light-2);
  min-height: 100%;
}

.defects-create__container{
  display: flex;
  padding: 3rem 3rem;
}

.col-left{
  flex: 0 0 50%;
  display: flex;

}

.col-right{
  flex: 0 0 50%;
  display: flex;

}

.defects-create__list{

  list-style: none;

  &--left {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  &--right{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
}

.defects-create__item{
  display: flex;
  align-items: center;
  height: 7rem;

}



[id^="input"]{
  width: 30rem;
  margin-left: 3rem;
}

.defects-create__bottom{

}

.defects-create__button{
  position: relative;
}

.defects-create__title,
.defects-create__description{
}



#input{
  &__bug{
  }

  &__select{
  }

  &__title{
    width: 80%;
    font-size: 1.8rem;
    height: 4rem;
    margin-top: 2rem;
  }

  &__description{
    width: 80%;
    margin-top: 2rem;
    font-size: 1.7rem;
  }

}

.input__button{

  position: absolute;
  top: 0;
  left: 40%;

}